html, body {
	min-height: 100vh;
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: Helvetica, sans-serif;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 320px;
	max-width: 1230px;
	padding: 0 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}